@inject IProductService ProductService;

<ul class="list-unstyled">
    @foreach (var product in CategoryId == null 
                                ? ProductService.Products 
                                : ProductService.Products.Where(p => p.CategoryId == CategoryId))
    {
        <li class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 media-img-wrapper">
                    <a href="/product/@product.Id">
                        <img class="media-img" src="@product.Image" alt="@product.Title"/>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="/product/@product.Id">
                            <h5 class="card-title">@product.Title</h5>
                        </a>
                        <p class="card-text">@product.Description</p>
                        @if (product.OriginalPrice > product.Price)
                        {
                            <h6 class="text-muted original-price">$@product.OriginalPrice</h6>
                        }
                        <h5 class="price">
                            $@product.Price
                        </h5>
                    </div>
                </div>
            </div>
        </li>        
    }
</ul>

@code {
    [Parameter]
    public int? CategoryId { get; set; } = null;

    protected override void OnInitialized()
    {
        ProductService.LoadProducts();
    }
}
