@page "/"
@page "/{*categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService;

@if (category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <ProductList/>
}
else
{
    <h1>Welcome to Book Shop!</h1>
    <ProductList/>
}

@code{
    private Category? category = null;

    [Parameter]
    public string? CategoryUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProductsAsync(CategoryUrl);

        category = CategoryUrl != null ? CategoryService?.Categories?.FirstOrDefault(c => c.Url != null
                                                                    ? c.Url.ToLower().Equals(CategoryUrl.ToLower())
                                                                    : false) 
                                                                    : null;
    }
}
