@page "/order-fail/{orderId:guid}"

@inject IOrderService OrderService;
@inject NavigationManager NavigationManager;

<AuthorizeView>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("");
        }
    </NotAuthorized>
</AuthorizeView>


<h3>Ошибка!</h3>

<span>Что-то пошло не так!</span>

@code{
    [Parameter]
    public Guid OrderId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await OrderService.UpdateOrderStatusByClientAsync(OrderId, OrderStatus.Success);
    }
}
