@page "/{id:int}"
@inject IProductService ProductService;
@inject ICartService CartService;
@inject ILocalStorageService LocalStorage;
@inject IToastService ToastService;

<div class="card mb-3 card-big">
    <div class="row g-0">
        <div class="col-md-4 media-img-big-wrapper">            
            <img class="media-img-big" src="@product?.Image" alt="@product?.Title" />           
        </div>
        <div class="col-md-8">
            <div class="card-body"> 
                <div class="views">
                    <i class="oi oi-eye"></i> @GetViewString()
                </div>
                <h3 class="card-title">@product?.Title</h3><br/>               
                <p class="card-text">@product?.Description</p>
                @if (product?.Variants?.Count > 1)
                {
                    <div class="form-group">
                        <select class="form-control" @bind = "currentEditionId">
                            @foreach(var variant in product.Variants)
                            {
                                <option value="@variant.EditionId">@variant?.Edition?.Name</option>
                            }
                        </select>
                    </div><br/>
                }
                @if (GetSelectedVariant() != null )
                {
                    @if (GetSelectedVariant()!.OriginalPrice > GetSelectedVariant()!.Price)
                    {
                        <h6 class="text-muted original-price">$@GetSelectedVariant()!.OriginalPrice</h6>
                    }
                    <h5 class="price">
                        $@GetSelectedVariant()!.Price
                    </h5>
                }
                <EditForm Model="_cartItem">                    
                    <i>Количество:</i><input type="number" min="1" id="quantity" @bind-value="@_cartItem.Quantity" class="form-control" style="width: 80px;" />
                </EditForm><br/>
                <button class="btn btn-primary" @onclick = "AddToCartAsync"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart</button>
            </div>
        </div>
    </div>
</div>

@code {
    private Product? product = new Product();
    private int currentEditionId = 1;
    private CartItem _cartItem = new CartItem { Quantity = 1 };

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {     
        product = await ProductService.GetProductAsync(Id);    

        if (product?.Variants.Count > 0)
        {
            currentEditionId = product.Variants[0].EditionId;
        }
    }

    private ProductVariant? GetSelectedVariant()
    {
        return product?.Variants.FirstOrDefault(v => v.EditionId == currentEditionId);       
    }

    private async Task AddToCartAsync()
    {
        var productVariant = GetSelectedVariant();
        _cartItem.EditionId = productVariant!.EditionId;
        _cartItem.EditionName = productVariant!.Edition?.Name;
        _cartItem.Image = product?.Image;
        _cartItem.Price = productVariant!.Price;
        _cartItem.ProductId = productVariant!.ProductId;
        _cartItem.ProductTitle = product?.Title;
        await CartService.AddToCartAsync(_cartItem);
    }

    private string GetViewString()
    {
        if (product?.Views > 1_000_000)
        {
            return $"{((float)product.Views / 1_000_000).ToString("#.##")}M";
        }

        if (product?.Views > 100_000)
        {
            return $"{((float)product.Views / 1_000).ToString("#")}K";
        }

        if (product?.Views > 1_000)
        {
            return $"{((float)product.Views / 1_000).ToString("#.##")}K";
        }

        return product!.Views.ToString("0##");
    }   
}

