@page "/registration"

@inject ILocalStorageService LocalStorage;
@inject IAuthService AuthService;
@inject IToastService ToastService;
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthStateProvider;

<h3>Регистрация</h3>

<p style="color:green;">@_message <a href="/login">@_login</a></p>

<EditForm Model="_user" OnSubmit="HandleRegistration">
    <div class="form-group">
        <label for="email">Email</label>
        <InputText type="email" class="form-control" @bind-Value="_user.Email" id="email"></InputText>
    </div><br />
    <div class="form-group">
        <label for="password">Пароль</label>
        <InputText type="password" class="form-control" @bind-Value="_user.Password" id="password"></InputText>
    </div><br />
    <div class="form-group">
        <label for="confirmpwd">Повторите пароль</label>
        <InputText type="password" class="form-control" @bind-Value="_user.ConfirmPwd" id="confirmpwd"></InputText>
    </div><br />
    <div class="form-group">
        <label for="name">Имя</label>
        <InputText class="form-control" @bind-Value="_user.Name" id="name"></InputText>
    </div><br/>
    <div class="form-group">
        <label for="surname">Фамилия</label>
        <InputText class="form-control" @bind-Value="_user.Surname" id="surname"></InputText>
    </div><br />
    <div class="form-group">
        <label for="postalcode">Почтовый индекс</label>
        <InputText type="postalcode" class="form-control" @bind-Value="_user.PostalCode" id="postalcode"></InputText>
    </div><br />
    <div class="form-group">
        <label for="country">Страна</label>
        <InputText class="form-control" @bind-Value="_user.Country" id="country"></InputText>
    </div><br />
    <div class="form-group">
        <label for="region">Регион</label>
        <InputText class="form-control" @bind-Value="_user.Region" id="region"></InputText>
    </div><br/>
    <div class="form-group">
        <label for="city">Город/населенный пункт</label>
        <InputText class="form-control" @bind-Value="_user.City" id="city"></InputText>
    </div><br/>
    <div class="form-group">
        <label for="street">Улица</label>
        <InputText class="form-control" @bind-Value="_user.Street" id="street"></InputText>
    </div><br/>
    <div class="form-group">
        <label for="house">Дом</label>
        <InputText class="form-control" @bind-Value="_user.House" id="house"></InputText>
    </div><br/>
    <div class="form-group">
        <label for="room">Квартира</label>
        <InputText class="form-control" @bind-Value="_user.Room" id="room"></InputText>
    </div><br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary" disabled="@isDisabled">Зарегистрироваться</button>
    </div><br /><br />
</EditForm>

@code {
    private RegModel _user = new RegModel();
    private string _message = string.Empty;
    private string _login = string.Empty;
    bool isDisabled = false;

    private async Task HandleRegistration()
    {
        isDisabled = true;
        var loginResult = await AuthService.RegistrationAsync(_user);
        if (loginResult?.Success ?? false)
        {
            _message = loginResult.Message!;
            _login = "Перейдите по ссылке для входа";
            ToastService.ShowSuccess(loginResult.Message!);
        }
        else
        {
            isDisabled = false;
            ToastService.ShowError(loginResult?.Message ?? "Ошибка регистрации");
        }       
    }
}