@page "/registration"

@inject ILocalStorageService LocalStorage;
@inject IAuthService AuthService;
@inject IToastService ToastService;
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthStateProvider;

<h3>Регистрация</h3>

<p style="color:green;">@_message</p>

<EditForm Model="_user" OnSubmit="HandleRegistration">
    <div class="form-group">
        <label for="email">Email</label>
        <InputText type="email" class="form-control" @bind-Value="_user.Email" id="email"></InputText>
    </div><br />
    <div class="form-group">
        <label for="password">Пароль</label>
        <InputText type="password" class="form-control" @bind-Value="_user.Password" id="password"></InputText>
    </div><br />
    <div class="form-group">
        <label for="confirmpwd">Повторите пароль</label>
        <InputText type="password" class="form-control" @bind-Value="_user.ConfirmPwd" id="confirmpwd"></InputText>
    </div><br />
    <div class="form-group">
        <label for="name">Имя</label>
        <InputText class="form-control" @bind-Value="_user.Name" id="name"></InputText>
    </div><br/>
    <div class="form-group">
        <label for="surname">Фамилия</label>
        <InputText class="form-control" @bind-Value="_user.Surname" id="surname"></InputText>
    </div><br />
    <div class="form-group">
        <label for="address">Почтовый адрес</label>
        <InputText type="address" class="form-control" @bind-Value="_user.Address" id="address"></InputText>
    </div><br />    
    <div class="form-group">
        <button type="submit" class="btn btn-primary" disabled="@isDisabled">Зарегистрироваться</button>
    </div>
</EditForm>

@code {
    private RegModel _user = new RegModel();
    private string _message = string.Empty;
    private string _login = string.Empty;
    bool isDisabled = false;

    private async Task HandleRegistration()
    {
        isDisabled = true;
        var loginResult = await AuthService.RegistrationAsync(_user);
        if (loginResult?.Success ?? false)
        {
            _message = loginResult.Message!;
            _login = "Выполните вход.";
            ToastService.ShowSuccess(loginResult.Message!);
        }
        else
        {
            isDisabled = false;
            ToastService.ShowError(loginResult?.Message ?? "Ошибка регистрации.");
        }       
    }
}